* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 480px;
  height: auto;
}

/* HEADER ///////////////////////////////////////////////// */

header {
  /* height: 100%; */
  background-color: #1f2937;
}

.header {}
.header-logo {}
.header-link-number {}
.hero {}
.greeting {}
.awesome {}
.sign-up {}
img {}


/* CARDS ////////////////////////////////////////////////// */
/*
.cards {}
.tittle {}
.four-cards {}
.card {}
.square {}
.caption {}


/* MESSAGE //////////////////////////////////////////////// */
/*
.text {}
.signature {}


/* SIGN-UP //////////////////////////////////////////////// */
/*
.sign-up {}
.blue {}
.left {}
.call {}
.click-to-sign {}
.right {}
.right .sign-up {}


 /* FOOTER ////////////////////////////////////////////////  */
/*
.copyright {}